<!-- templates/about_us.html -->
{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">О нас</h1>
    <div class="text-center">
        <p>Добро пожаловать в наш барбершоп! Мы рады предложить вам широкий спектр услуг по уходу за волосами и бородой.</p>
        <p>Наши мастера — это профессионалы с многолетним опытом, которые всегда готовы помочь вам выглядеть стильно и ухоженно.</p>
        <p>Мы используем только качественные продукты и современные техники, чтобы вы всегда были довольны результатом.</p>
        <p>Записывайтесь на услуги и наслаждайтесь атмосферой нашего заведения!</p>
    </div>
{% endblock %}
