{% extends 'base.html' %}
<!-- filepath: /c:/Users/user/Downloads/Barbershop/booking/templates/book_appointment.html -->

{% block title %}Записаться - BARBERSHOP{% endblock %}

{% block content %}
<div class="mt-5 pt-4">
    <h1 class="text-center mb-4">
        <i class="bi bi-calendar-check text-dark me-2"></i>Записаться на прием
    </h1>
    <p class="lead text-center">
        Хотите изменить образ, почувствовать себя особенным и окунуться в атмосферу настоящего мужского стиля? Запишитесь сейчас – ваше преображение уже близко!
    </p>
    <form method="post" action="{% url 'book_appointment' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="master" class="form-label">Выберите мастера:</label>
            <select class="form-select" id="master" name="master">
                {% for master in masters %}
                    <option value="{{ master.id }}">{{ master.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="service" class="form-label">Выберите услугу:</label>
            <select class="form-select" id="service" name="service">
                {% for service in services %}
                    <option value="{{ service.id }}">{{ service.name }} - {{ service.price }} руб.</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Выберите дату:</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Выберите время:</label>
            <input type="time" class="form-control" id="time" name="time" required>
        </div>
        <button type="submit" class="btn btn-dark d-block mx-auto mt-3">
            <i class="bi bi-calendar-check text-dark me-2"></i>Записаться
        </button>
    </form>
</div>
{% endblock %}