<!-- templates/master_list.html -->
{% extends 'base.html' %}

{% block title %}Наши мастера{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Список мастеров</h1>
    <ul>
        {% for master in masters %}
            <li>
                <h2>{{ master.name }} - {{ master.experience }} лет опыта</h2>
                <div>
                    <h3>Отзывы для {{ master.name }}</h3>
                    <button id="toggle-link-{{ master.id }}" class="btn btn-purple btn-toggle" onclick="toggleReviewsList({{ master.id }}); return false;">Показать отзывы</button>
                    <div id="reviews-list-{{ master.id }}">
                        {% for review in master.review_set.all %}
                            <div class="review">
                                <p><strong>{{ review.client_name }}:</strong> Рейтинг: {{ review.rating }}/5</p>
                                <p class="toggle-text">
                                    <span class="show-less">{{ review.comment|truncatewords:10 }}</span>
                                    <span class="show-more" style="display:none;">{{ review.comment }}</span>
                                    <a href="#" class="toggle-link" onclick="toggleReview(event); return false;">Читать полностью</a>
                                </p>
                                <p><em>{{ review.date }}</em></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h3>Оставить отзыв для {{ master.name }}</h3>
                    <form method="post" action="{% url 'add_review' master.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="client_name">Ваше имя:</label>
                            <input type="text" class="form-control" id="client_name" name="client_name" required>
                        </div>
                        <div class="form-group">
                            <label for="comment">Ваш отзыв:</label>
                            <textarea class="form-control" id="comment" name="comment" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Ваш рейтинг (1-5):</label>
                            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                        </div>
                        <button type="submit" class="btn btn-purple mt-3">Оставить отзыв</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- Подключаем CSS и JavaScript из статики -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}