{% extends 'base.html' %}

{% load static %}

{% block title %}Наши мастера{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Список мастеров</h1>
    <div class="row">
        {% for master in masters %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ master.name }} - {{ master.experience }} лет опыта</h2>
                        <h3 class="card-subtitle mb-2 text-muted">Отзывы для {{ master.name }}</h3>
                        <button id="toggle-link-{{ master.id }}" class="btn btn-purple btn-toggle" onclick="toggleReviewsList({{ master.id }}); return false;">Показать отзывы</button>
                        <div id="reviews-list-{{ master.id }}" class="mt-3" style="display: none;">
                            {% for review in master.review_set.all %}
                                <div class="review mb-2">
                                    <p><strong>{{ review.client_name }}:</strong> Рейтинг: {{ review.rating }}/5</p>
                                    <p class="toggle-text">
                                        <span class="show-less">{{ review.comment|truncatewords:10 }}</span>
                                        <span class="show-more" style="display:none;">{{ review.comment }}</span>
                                        <a href="#" class="toggle-link" onclick="toggleReview(event); return false;">Читать полностью</a>
                                    </p>
                                    <p><em>{{ review.date }}</em></p>
                                </div>
                            {% endfor %}
                        </div>
                        <h3 class="card-subtitle mt-3 mb-2 text-muted">Оставить отзыв для {{ master.name }}</h3>
                        <form method="post" action="{% url 'add_review' master.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="client_name">Ваше имя:</label>
                                <input type="text" class="form-control" id="client_name" name="client_name" placeholder="Введите ваше имя" required>
                            </div>
                            <div class="form-group">
                                <label for="comment">Ваш отзыв:</label>
                                <textarea class="form-control" id="comment" name="comment" placeholder="Напишите ваш отзыв здесь..." required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="rating">Ваш рейтинг (1-5):</label>
                                <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" placeholder="Оцените от 1 до 5" required>
                            </div>
                            <button type="submit" class="btn btn-purple mt-3">Оставить отзыв</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
