{% extends 'base.html' %}

{% load static %}

{% block title %}Наши мастера{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Наши мастера</h1>
    <div class="row">
        {% for master in masters %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/avatar.png' %}" alt="Аватар мастера" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ master.name }}</h5>
                        <p class="card-text">Опыт: {{ master.experience }} лет</p>
                        <a href="{% url 'master_reviews' master.id %}" class="btn btn-purple">Посмотреть отзывы</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
